body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Droid Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.img-bg {
  background-color: rgba(0, 0, 0, 0.3);
}

.cover {
  background-image: url(../img/Clouds-Over-Ocean.jpg);
  background-size: cover;
}

/* ランキングの順位とトピック名の間に空白 */
.rank-num {
  padding-right: 1rem;
}

/* ランキングカラムがPC画面で横長になるのを防ぐ */
.ranking-container {
  max-width: 400px;
}
